extends base

block content
  main.main
    .card-container

      each experience in experiences
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(
                src=`/img/experiences/${experience.imageCover}`,
                alt=`${experience.name}`
              )
            h3.heading-tertirary
              span= experience.name

          .card__details
            h4.card__sub-heading= `${experience.duration}-day ${experience.category} experience`
            p.card__text= experience.summary

            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= experience.startLocation.description

            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
              - const nextDate = experience.timeSlots[0].toLocaleString('en-us', { month: 'long', year: 'numeric' })
              span= nextDate

            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-flag')
              span= `${experience.locations.length} stops`

            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-user')
              span= `${experience.capacity} people`

          .card__footer
            p
              span.card__footer-value= `$${experience.price}`
              | 
              span.card__footer-text per person

            p.card__ratings
              span.card__footer-value= experience.ratingsAverage
              | 
              span.card__footer-text= `rating (${experience.ratingsQuantity})`

            a.btn.btn--green.btn--small(
              href=`/experience/${experience.slug}`
            ) Details
